{% extends "base.html" %}

{% block title %}My Blog Posts{% endblock %}

{% block body_block %}
<h1>My Blog Posts</h1>

{% if user.post_author.all %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for blog in user.post_author.all %}
    <div class="col">

      <div class="card h-100">
        <img src="{{ blog.blog_image.url }}" class="card-img-top" alt="{{ blog.title }}">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'App_Blog:details_blog' blog.pk %}">{{ blog.blog_title }}</a></h5>
          <p class="card-text">{{ blog.excerpt }}</p>
        </div>
        <div class="card-footer  justify-content-between">
          <small class="text-muted">Published on {{ blog.publish_date|date:"F d, Y" }}</small>
          <a href="{% url 'App_Blog:details_blog' blog.pk %}" class="btn btn-primary btn-sm">Read More</a>
         
          <a href="{% url 'App_Blog:edit_blog' blog.pk %}" class="btn btn-info btn-sm">Edit Blog</a>
        </div>
      </div>

    </div>
  {% endfor %}
</div>
{% else %}
  <p class="alert alert-info">No blog posts to show.</p>
{% endif %}

{% endblock %}
